/* header */
main {
  padding-top: 61px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 61px;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1130px;
  margin: 0 auto;
  padding: var(--space-1);
}

@media (min-width: 768px) {
  .header__text {
    display: flex;
    gap: var(--space-5);
  }
}

/* footer */
.footer__links {
  margin-bottom: var(--space-6);
}

.footer__links ul {
  display: flex;
  justify-content: center;
  gap: var(--space-2);
  list-style: none;
}

.footer_email {
  text-align: center;
  font-weight: var(--font-w-regular);
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-7);
}
.footer__links a {
  padding: 10px 30px;
  border-radius: 9999px;
  color: var(--color-white);
  background-color: transparent;
  outline: 1px solid;
  text-decoration: none;
}

@media (min-width: 1024px) {
  footer {
    margin-top: var(--space-15);
  }
}

/* card */
.card {
  position: relative;
  max-width: 435px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--space-2);

  width: 70%;
  height: 70%;
  background-color: var(--color-white);
  color: var(--color-primary);
}

.card__content h2 {
  text-transform: uppercase;
  font-weight: var(--font-w-medium);
}

.card__img {
  display: block;
}

.card__media {
  position: relative;
}

.card__actions {
  display: flex;
  justify-content: space-between;
}

.card__actions a {
  background: none;
  border: none;
  text-decoration: solid underline 1.5px;
  text-underline-offset: 0.3em;
  color: var(--color-primary);
}

.card__actions button img {
  margin-right: var(--space-1);
  max-width: 14px;
}

/* buttons */
.btn {
  height: 45px;
  border-radius: 9999px;
  background-color: transparent;
  border: 1px solid;
}

.btn--sm {
  color: var(--color-white);
  width: 100%;
  max-width: 120px;
}
