body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  background: var(--color-accent-gradient);
}

@media (min-width: 1024px) {
  body {
    font-size: var(--font-size-base);
  }
}

/* Make footer always stay at the bottom */
body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* projects */
.projects__grid {
  display: grid;
  gap: var(--space-1);
  justify-content: center;
}

@media (min-width: 768px) {
  .projects__grid {
    grid-template-columns: repeat(2, minmax(0, 435px));
    gap: var(--space-1);
  }
}

@media (min-width: 1280px) {
  .projects__grid {
    grid-template-columns: repeat(3, minmax(0, 435px));
    gap: var(--space-3);
  }
}
